<!DOCTYPE html>
<html>
    {% include "base.html" %}
    {% load static %}

<body>
    <br/><br/><br/>
    <center><img src="{% static 'images/img1.jpg' %}" class="rounded mx-auto d-block w-25 p-3" height="400" wdith="600"></center>
    <p>
        The Student enrollment system is designed to manage all the activities involved during the student enrollment process and combines them into a cloud-based system.
        The main objective of the enrollment system is to help staff members to enroll students and maintain their records.The main purpose of Student Enrollment System is that we will deal with the information of all students here.Here all students can register with their name class address school name and email.All the information of students who register will be displayed together.We can search all the information of students who have registered.
    </p>



</body>
</html>
